body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  display: flex;
  justify-content: center;
}
.myComponent{
  margin:0 2px;
}
button{
  font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 4px 0px rgba(51, 51, 51, 0.30);
}
.active{
  background-color: green;
  border-color: green;
  color: white;
  outline: none;
}
